#softuni-login-form {
	width: 520px;
	height: 310px;
	background-color: #EEEEEE;
	font-family: tahoma;
}

header h3 {
    color: #1C3E60;
}
header p {
    font-size: 75%;
}
form {
    display: inline-block;
    float: left;
    width: 250px;
    height: 213px;
    padding-top: 10px;
    color: #5F5F5F;
}
    form .form-header {
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: bold;
        font-size: 80%;
    }
        form .form-header #reg {
            color: #16395C;
        }
    form .input-text {
        width: 90%;
        height: 11%;
        margin: 10px 10px 0;
    }
    form #reg-button {
        border: 2px solid #264767;
        height: 13%;
        width: 45%;
        color: #264767;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }
#login-form {
    background-color: #234465;
    color: white;
}
    #login-form #remember {
        display: inline;
        font-size: 85%;
    }
        #login-form #remember input {
                margin-top: 10px;
                margin-left: 10px;
		}
    #login-form #login-button {
        border: 2px solid #FD9B01;
        color: white;
        background-color: #234465;
        display: inline;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        width: 40%;
        height: 13%;
    }
    #login-form #forgot-pass {
        float: right;
        color: white;
        margin-right: 15px;
        font-size: 70%;
    }