header h1 {
    background-color: lightblue;
    color: #F2C106;
    width: 520px;
    text-align: center;
    margin: 0;
    padding-top: 10px
}
section {
    background-color: lightblue;
    width: 520px;
    height: 220px;
}
html {
    overflow: hidden;
}
iframe {
    border: 2px solid #F2C106;
    margin: 20px -20px 20px 20px;
}
ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    font-size: 120%;
    font-style: italic;
}
    ul li {
        margin-top: 10px;
    }
    ul a {
        text-decoration: none;
        color: blue;
    }