main {
    background-color: #FFC0CB;
    width: 1000px;
    height: 370px;
    padding: 1px 35px 15px 23px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}
h3 {
    margin-bottom: 5px;
}
section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
#videos {
    margin-left: 63px;
}
figure {
    margin: 0;
}
figcaption {
    font-size: 130%;
    font-weight: bold;
}
meter {
    margin-top: 6px;
    width: 80%;
    height: 24px;
}