html, body, div, header, section, article, footer, ul, li {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

#wrapper {
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #CFD4D3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section {
    width: 85%;
    margin: 0 auto;
}
    section>header {
        color: #234465;
        font-size: 1.35em;
        margin-bottom: 20px;
    }
    section>article {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-shadow: 0 2px 10px #bfbfbf;
        width: 31%;
        height: 400px;
        float: left;
        margin-right: 25px;
        padding: 35px 35px 20px;
        position: relative;
        background-color: white;
    }
        article>header {
            color: #234465;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            margin-bottom: 20px;
        }
        article .date {
            text-align: right;
            font-size: 0.9em;
        }
        article .author {
            color: #5A5A5A;
            font-size: 0.84em;
        }
        article img {
            margin: 40px 0 15px 0;
        }
        article .text {
            color: #5A5A5A;
            font-size: 0.84em;
        }
        article .tags {
            color: #999999;
            font-size: 0.8em;
            position: absolute;
            bottom: 13px;
        }
            .tags>span {
                color: #5A5A5A;
                font-weight: bold;
            }
ul>li {
    list-style-type: none;
    color: white;
    background-color: #4CA0DB;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 0.9em;
    margin-top: 50px;
    margin-right: -4px;
}
    ul>li:first-child {
        background-color: #FF9C00;
    }