thead tr:nth-child(1) {
    font-size: 30px;
}

thead tr:nth-child(2) {
    font-size: 24px;
}

td, th {
    padding: 5px;
 }

table, td, th {
    border: 1px solid;
}

tfoot td{
    text-align: right;
}