table {
    width: 500px;
    font-size: 19px;
    font-family: Verdana;

}
    table thead {
        font-size: 35px;
        text-align: center;
    }
    	table tbody td {
    		padding: 5px;
    	}