body, header, main, footer, div, p, ul, nav, section, article {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url(../images/colorful_dots_on_black.jpg);
}

body> header {
	width: 100%;
	height: 60px;
	background-color: #0000FF;
	text-align: center;
	font-size: 40px;
	color: #FFFF00;
	padding: auto 0px auto 0px;
	font-family: Verdana;
	font-weight: bold;
    background-image: linear-gradient(  to right, #FF0000 30%, #008000 15%, #008000 67%, #0000FF 60%);
}

body nav {
	width: 230px;
	height: 220px;
	background: rgba(245, 230, 254, 0.8);
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 22px;
	display: inline-block;
	float: left;
	font-family: Arial;
}

body nav header {
	margin-left: 25px;
	margin-top: 5px;
	font-size: 20px;
	text-decoration: underline;
	padding-bottom: 10px;
	font-weight: bold;
}

body nav ul {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
	line-height: 25px;
	color: #000;
	display: inline-block;
}

body nav ul li {
	padding-left: 10px;
	display: block;
	width: 180px;
	border-radius: 10px;
	height: 25px;
}

body nav ul li a {
	text-decoration: none;
	color: #000;
	padding: 10px 15px 10px 23px;
	border-radius: 10px;
}

body nav ul li:before {
	content: url('../images/check-mark-button-hi.png');
 	position: absolute;
	margin-top: 3px;
}

body nav ul li:hover {
	background-color: #FF0000;
}

body nav ul li a:visited {
	color: #8D8F98;
	border-radius: 10px;
}

li:hover:nth-last-child(1) {
	background-color: #800080;
}

li:hover:nth-last-child(2) {
	background-color: #0000FF;
}

li:hover:nth-last-child(3) {
	background-color: #008000;
}

li:hover:nth-last-child(4) {
	background-color: #FFFF00;
}

li:hover:nth-last-child(5) {
	background-color: #FFA500;
}

section article {
	width: 950px;
	background: rgba(245, 230, 254, 0.8);
	float: right;
	border-radius: 10px;
	margin: 25px 20px 0px 20px;
	vertical-align: top;
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 10px !important;
	padding-right: 20px;
}

#webColors {
	color: #fff;
	background-color: #FF0000;
	width: 940px;
	margin: 12px 15px 12px 10px;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial;
	padding-left: 7px;
	padding-top: 8px;
	padding-bottom: 8px;
}
section article div {
	font-family: Arial;
	margin: 5px 15px 0px 10px;
	font-size: 17px;
}
section article div::first-letter {
	font-size: 40px;
}
section article div::first-line{
	font-style: italic;
}
section article footer a {
	color: #95A9AD;
	margin-left: 10px;
	margin-bottom: 10px;
}
#webSafeColors {
	color: #fff;
	background-color: #FFA500;
	width: 940px;
	margin: 12px 15px 12px 10px;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial;
	padding-left: 7px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#RGB {
	color: #fff;
	background-color: #FFFF00;
	width: 940px;
	margin: 12px 15px 12px 10px;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial;
	padding-left: 7px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#RGBA{
	color: #fff;
	background-color: #008000;
	width: 940px;
	margin: 12px 15px 12px 10px;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial;
	padding-left: 7px;
	padding-top: 8px;
	padding-bottom: 8px;
}

section article span:lang(la)  {
	color: #2C79BD;
	font-style: italic;
}

section article span:lang(la) > span  {
	color: #000;
	padding-left: 20px;
}
section article span:lang(la)::before {
	content: "\201c";
}
section article span:lang(la)::after {
	content: "\201d";
}
section article:last-child {
	font-family: Arial;
	font-size: 17px;
}

section article:nth-last-child(2) header {
	color: #fff;
	background-color: #0000FF;
	width: 940px;
	margin: 12px 15px 12px 10px;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial;
	padding-left: 7px;
	padding-top: 8px;
	padding-bottom: 8px;
}

section article:last-child header {
	color: #fff;
	background-color: #800080;
	width: 940px;
	margin: 12px 15px 12px 10px;
	text-align: left;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial;
	padding-left: 7px;
	padding-top: 8px;
	padding-bottom: 8px;
}

section article:last-child  {
	margin-bottom: 20px;
	margin-left: 10px;
}

section article:last-child footer {
	font-size: 14px;
}