#wrapper {
    max-width: 900px;
    margin: 0 auto;
}

/* header */
header h1 {
    margin-left: 50px;
}
    nav li {
        list-style-type: none;
        display: inline;
        padding-right: 50px;
        text-transform: uppercase;
        font-size: 90%;
        color: #8F8F8F;
    }
    #search {
        float: right;
        margin-right: 30px;
        padding: 0;
    }

/* sidebars */
aside ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #605EA7;
}
aside .grey {
    color: #AFAFAF;
    margin-bottom: -5px;
}
#right {
    float: right;
    width: 20%;
}
#left {
    float: left;
    width: 20%;
}

/* section */
section {
    margin-left: 35px;
    float: left;
    width: 55%;
}
    section .meta-div {
        word-spacing: 2px;
        font-size: 80%;
        margin-top: -20px;
        margin-bottom: 20px;
        color: #777777;
    }
    section .blue {
        color: #605EA7;
    }

hr {
    border: solid grey 1px;
}

/* footer */
footer {
    width: 100%;
    float: left;
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
    footer table {
        width: 100%;
    }
        table ul {
            list-style-type: none;
            padding: 0;
        }
        table th, td {
            width: 20%;
            vertical-align: top;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
        }
        table th {
            padding-top: 20px;
        }
    footer .grey {
        color: #5E665C;

    }
    footer #foot-header {
        padding-left: 25px;
        font-size: 130%;
    }